/*Css propio*/

.ziel {
 width: 47%;
position: relative;
display: inline-block;
margin: auto;

}

/*Template*/
a,.tp-caption a.btn:hover {
	color: rgb(145,35,100);
}
.top-nav-collapse {
	background: rgb(145,35,100);
}

.navbar-custom ul.nav ul.dropdown-menu li a:hover {
	color: rgb(145,35,100);
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
    background-color: rgb(145,35,100);
}

.widget-avatar .avatar:hover {
    border: 5px solid rgb(145,35,100);
}

.bg-skin {
	background: rgb(145,35,100);
}

form#contact-form input:focus,form#contact-form select:focus,form#contact-form textarea:focus {
	border-color: rgb(145,35,100);
}

footer {
    background-color: rgb(145,35,100);
}

.btn-skin {
  color: #fff;
  background-color: rgb(145,35,100);
  border-color: rgb(145,35,100);
}
